amy_interview_and_documents.png filter=lfs diff=lfs merge=lfs -text
amy_website2.png filter=lfs diff=lfs merge=lfs -text
amy_website3.png filter=lfs diff=lfs merge=lfs -text
computer_with_newspapers.jpg filter=lfs diff=lfs merge=lfs -text
deneuro.ico filter=lfs diff=lfs merge=lfs -text
klob_open_cropped.png filter=lfs diff=lfs merge=lfs -text
amy_interview_and_documents.jpg filter=lfs diff=lfs merge=lfs -text
amy.jpg filter=lfs diff=lfs merge=lfs -text
amy_website1.png filter=lfs diff=lfs merge=lfs -text
deneuro_padded.svg filter=lfs diff=lfs merge=lfs -text
iphone_amy.png filter=lfs diff=lfs merge=lfs -text
iphone_with_news.png filter=lfs diff=lfs merge=lfs -text
klob_closed_cropped.png filter=lfs diff=lfs merge=lfs -text
klob_closed.png filter=lfs diff=lfs merge=lfs -text
amy_extract1.png filter=lfs diff=lfs merge=lfs -text
news_generation.png filter=lfs diff=lfs merge=lfs -text
newspaper_boy.jpg filter=lfs diff=lfs merge=lfs -text
news_generation.jpg filter=lfs diff=lfs merge=lfs -text
klob_open_icons.jpg filter=lfs diff=lfs merge=lfs -text
tv_with_don.png filter=lfs diff=lfs merge=lfs -text
klob_closed_cropped.jpg filter=lfs diff=lfs merge=lfs -text
amy_interview.png filter=lfs diff=lfs merge=lfs -text
automated_journalism.jpg filter=lfs diff=lfs merge=lfs -text
klob_open.png filter=lfs diff=lfs merge=lfs -text
amy_generated.jpg filter=lfs diff=lfs merge=lfs -text
